.photo {
  display: grid;
  border-radius: 0.2rem;
  overflow: hidden;
  cursor: pointer;
}

.photo img {
  grid-area: 1 / 1;
  height: 100%;
}

.photo span {
  background: rgba(0, 0, 0, 0.3);
  color: white;
  font-size: 1rem;
  text-align: center;
  align-items: center;
  justify-content: center;
  grid-area: 1 / 1;
  display: none;
}

.photo span::before {
  content: '';
  width: 24px;
  height: 24px;
  display: inline-block;
  margin-right: 0.25rem;
  background: url('../../assets/like.svg') no-repeat;
}

.photo:hover span {
  display: flex;
}
