.headerProfile {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
  padding: 1rem 0.5rem;
}

.userFollower {
  margin-bottom: 15px;
  display: flex;
  gap: 1rem;
  justify-content: space-around;
  background-color: #f4f4f4;
  padding: 1rem;
}

.seguidor,
.seguindo,
.posts {
  font-weight: bold;
  margin-right: 0.25rem;
}

.fieldset {
  border-color: rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}

.user {
  font-weight: bold;
  font-size: 1.2rem;
}

.infoUser {
  display: flex;
  margin-top: 1rem;
}
