.nav {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.nav a,
.nav button {
  background: #eee;
  border-radius: 0.2rem;
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid transparent;
  transition: 0.1s;
  cursor: pointer;
}

.nav a:hover,
.nav a:focus,
.nav button:hover,
.nav button:focus {
  background: white;
  box-shadow: 0 0 0 3px var(--rosa-claro);
  border-color: #333;
  outline: none;
}

.nav a:hover svg > *,
.nav button:hover svg > * {
  fill: var(--rosa-claro);
}
