.comments {
  height: 100%;
  overflow-y: auto;
}

.comentarioTexto {
  margin-top: 0.7rem;
}

.textarea {
  width: 100%;
  border: none;
  outline: 0;
  resize: none;
  margin-top: 1.25rem;
}

.usuario {
  margin-right: 0.2rem;
}
