.photo {
  margin: auto;
  height: 40rem;
  border-radius: 0.2rem;
  background: white;
  display: grid;
  grid-template-columns: 1fr 20rem;
  grid-template-rows: auto 1fr auto;
  overflow: hidden;
  transform: scale(0.8);
  animation: scaleUp 0.3s forwards;
}

@keyframes scaleUp {
  to {
    opacity: initial;
    transform: initial;
  }
}

.details {
  padding: 2rem 2rem 0 2rem;
  height: 490px;
}

.img {
  grid-row: 1 / 4;
}

.author {
  opacity: 0.5;
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.authorDelete {
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.authorDelete span {
  opacity: 0.5;
}

.author {
  opacity: 0.5;
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.author a:hover {
  text-decoration: underline;
}

.curtidas {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.curtidas::before {
  content: '';
  display: inline-block;
  width: 24px;
  height: 24px;
  margin-right: 0.5rem;
  background: url('../../assets/like.svg');
}
