.curtidas {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.curtidas::before {
  content: '';
  display: inline-block;
  width: 24px;
  height: 24px;
  margin-right: 0.5rem;
  background: url('../../assets/like.svg');
}
