:root {
  --branco-rosado: #fbc5d8;
  --rosa-claro: #f1396d;
  --rosa-claro2: #f551a6;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  color: #333;
  padding-top: 4rem;
  font-family: Arial, Helvetica, sans-serif;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: 100%;
}

button,
input {
  display: block;
  font-size: 1rem;
  color: #333;
}

a {
  text-decoration: none;
  color: #333;
}

.container {
  max-width: 50rem;
  padding: 0 1rem;
  margin: 0 auto;
}

.mainContainer {
  margin-top: 4rem;
}

.titulo {
  display: inline-block;
  font-size: 4rem;
  margin-bottom: 2rem;
}

.titulo::after {
  content: '';
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--rosa-claro);
}

@media (max-width: 40rem) {
  .titulo {
    font-size: 3.25rem;
  }
}

.fieldset {
  margin-top: 3rem;
  padding: 1rem 0.5rem;
  border-color: rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  text-align: center;
}

.fieldset a {
  color: var(--rosa-claro);
}

.animeLeft {
  opacity: 0;
  transform: translateX(-20px);
  animation: animeLeft 0.2s forwards;
}

@keyframes animeLeft {
  to {
    opacity: initial;
    transform: initial;
  }
}

.animeModal {
  opacity: 0;
  transform: scale(0.8);
  animation: scaleUp 0.3s forwards;
}

@keyframes scaleUp {
  to {
    opacity: initial;
    transition: initial;
    transform: initial;
  }
}
